html{font-size: 16px;scroll-behavior: smooth; background-color: #E1D4C9;}
body{font-family: "Inter", sans-serif;line-height: 1;}
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input,button,textarea{font-family: inherit;}
button{cursor: pointer;}
ul li{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size:inherit;}
a,a:visited{text-decoration: none;}
p{width: auto}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 40px;
}

@media screen and (max-width: 700px) {
	.wrapper {
		padding: 0 16px;
	}
}

.margin-section {
	margin-top: 100px;
}

.bodyHidden {
	overflow: hidden;
}