.about__title {
	@extend %heading-2;
	margin-bottom: 40px;
	color: $text-darkColor;

	& i {
		color: $text-accentColor;
	}
}

.about__grid {
	display: grid;
	gap: 40px;
	grid-template-columns: 1fr 1fr;
}

.grid__item-wrapper {
	max-width: 660px;
	height: 430px;
	border-radius: 20px;
	overflow: hidden;

	&:first-child {
		height: 590px;
	}

	&:last-child {
		height: 590px;
		margin-top: -160px;
	}
}

.grid__item-wrapper .grid__item {
	transition: 0.5s;
	transform: scale(1.1);
}

.grid__item-wrapper:first-child .grid__item,
.grid__item-wrapper:last-child .grid__item {
	max-width: 660px;
	height: 590px;
}

.grid__item-wrapper:nth-child(2) .grid__item,
.grid__item-wrapper:nth-child(3) .grid__item {
	max-width: 660px;
	height: 430px;
}

.grid__item-wrapper:first-child .grid__item {
	background: url("../src/img/about/about1.png") center/cover no-repeat;
}

.grid__item-wrapper:nth-child(2) .grid__item {
	background: url("../src/img/about/about2.png") center/cover no-repeat;
}

.grid__item-wrapper:nth-child(3) .grid__item {
	background: url("../src/img/about/about3.png") center/cover no-repeat;
}

.grid__item-wrapper:last-child .grid__item {
	background: url("../src/img/about/about4.png") center/cover no-repeat;
}

