@media screen and (max-width: 1006px) {
	// header
	.nav__item {
		margin-right: 20px;
	}

	// mobileApp
	.mobileApp {
		display: block;

		&__info {
			width: 100%;
		}

		&__img {
			max-width: 100%;
			text-align: center;
			margin-top: 100px;
		}
	}
}
// end 1006px

@media screen and (max-width: 768px) {
	// header
	.header {
		&__btn-container {
			display: none;
		}

		&__burger__container {
			display: block;
			width: 44px;
			height: 44px;
			border: 1px solid $border-darkColor;
			border-radius: 100px;
		}

		&__burger-icon {
			display: block;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 16px;
			height: 8px;
			z-index: 50;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 1.5px;
				border-radius: 1px;
				width: 100%;
				background-color: $text-darkColor;
				transition: all 0.2s ease 0.1s;
			}

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -6%;
				height: 1.5px;
				border-radius: 2px;
				width: 100%;
				background-color: $text-darkColor;
				transition: all 0.2s ease 0.1s;
			}
		}
	}

	.nav {
		display: none;
	}

	// enjoy
	.enjoy {
		&__info {
			left: 60px;
		}

		&__link__text {
			transform: translateX(-25%);

			&::after {
				opacity: 1;
				left: 115%;
			}
		}
	}

	// about
	.about__grid {
		grid-template-columns: 1fr;
	}

	.grid__item-wrapper {
		max-width: 688px;

		&:nth-child(2),
		&:nth-child(3) {
			display: none;
		}

		&:last-child {
			grid-row-start: 2;
			margin-top: 0;
		}
	}

	.grid__item-wrapper:first-child .grid__item,
	.grid__item-wrapper:nth-child(2) .grid__item,
	.grid__item-wrapper:nth-child(3) .grid__item,
	.grid__item-wrapper:last-child .grid__item {
		max-width: 688px;
		transform: scale(1.05);
	}
}
// end 768px


@media screen and (max-width: 700px) {
	// enjoy
	.enjoy {
		&__title {
			font-size: 52px;
		}

		&__info {
			width: 400px;
		}
	}

	// favCoffee
	.favCoffee {
		&__btn {
			display: none;
		}
	}

	// about
	.about__title {
		font-size: 45px;
	}

	// mobileApp
	.mobileApp {
		&__title {
			font-size: 45px;
		}

		&__img {
			margin-top: 37px;

			& img {
				width: 500px;
			}
		}
	}
}
// end 700px


@media screen and (max-width: 550px) {
	// enjoy
	.enjoy {
		&__title {
			font-size: 42px;
			line-height: 115%;
		}

		&__info {
			width: 316px;
		}
	}

	// favCoffee
	.favCoffee__title {
		font-size: 32px;
	}

	.carousel__item__img {
		width: 348px;
	}

	// about
	.about__title {
		font-size: 32px;
	}

	.grid__item-wrapper:first-child .grid__item,
	.grid__item-wrapper:nth-child(2) .grid__item,
	.grid__item-wrapper:nth-child(3) .grid__item,
	.grid__item-wrapper:last-child .grid__item {
		transform: scale(1.2);
	}

	// mobileApp
	.mobileApp {
		&__title {
			font-size: 32px;
		}

		&__img img {
			width: 348px;
		}
	}
}
// end 550px

@media screen and (max-width: 456px) {
	// enjoy
	.enjoy {
		&__background {
			height: 550px;
		}

		&__info {
			top: 62px;
			left: 15px;
		}

		&__p {
			margin: 39px 0px;
		}
	}

	// mobileApp
	.mobileApp__link {
		display: block;
		margin-right: 0;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
// end 456px

@media screen and (max-width: 365px) {
	// enjoy
	.enjoy {
		&__title {
			font-size: 22px;
		}

		&__info {
			width: 200px;
			top: 62px;
			left: 15px;
		}
	}

	// favCoffee
	.carousel__item__img {
		max-width: 200px;
	}

	// about
	.grid__item-wrapper:first-child,
	.grid__item-wrapper:last-child {
		height: 390px;
	}

	// mobileApp
	.mobileApp__img img {
		width: 200px;
	}
}
// end 365px