.favCoffee {
	&__title {
		@extend %heading-2;
		text-align: center;
		color: $text-darkColor;
		margin-bottom: 40px;

		& i {
			color: $text-accentColor;
		}
	}

	&__carousel {
		display: flex;
		align-items: center;
		position: relative;
		width: 100%;
		text-align: center;
	}

	&__btn {
		background: none;
		cursor: pointer;
		width: 60px;
		height: 60px;
		transition: all 0.7s ease;
		border-radius: 100px;

		&:hover {
			background-color: $border-darkColor;
		}

		& svg path {
			transition: all 0.7s ease;
		}

		&:hover path {
			stroke: $text-lightColor;
		}
	}

	&__pagination {
		display: flex;
		justify-content: center;
		margin-top: 40px;
	}

	&__pagination-rectangle {
		content: "";
		display: block;
		width: 40px;
		height: 4px;
		margin-right: 12px;
		border-radius: 100px;
		background-color: $border-lightColor;

		&:last-child {
			margin-right: 0;
		}
	}
}

#rectangle1 {
	background-color: $border-darkColor;
}

	#arrowRight {
		rotate: 180deg;
	}

.carousel {
	&__container {
		position: relative;
		width: 100%;
		overflow: hidden;
	}

	&__item {
		display: none;
		position: relative;
		margin: 0 auto;

		&.active,
		&.next {
			display: block;
		}

		&.next {
			position: absolute;
			top: 0;
			width: 100%;
		}

		&__title {
			@extend %heading-3;
			margin-top: 20px;
			color: $text-darkColor;
		}

		&__text {
			@extend %body-textMedium;
			max-width: 480px;
			margin: 15px auto;
			white-space: normal;
		}

		&__price {
			@extend %heading-3;
			color: $text-darkColor;
		}
	}
}






