.header__btn-menu {
	cursor: default;

	&::after {
		opacity: 1;
		width: 100%;
	}
}

.menu__info {
	margin-bottom: 40px;
}

.info {
	&__title {
		@extend %heading-2;
		max-width: 800px;
		text-align: center;
		margin: 0 auto 40px;
		color: $text-darkColor;

		& i {
			color: $text-accentColor;
		}
	}

	&__block-btn {
		display: flex;
		justify-content: center;
	}

	&__type-btn {
		@extend %menu-btn-style;
		margin-right: 16px;
		transition: all 0.7s ease;
		&:last-child {
			margin-right: 0;
		}

		.info__wrapper-svg {
			@extend %menu-contain-btn-style;
			transition: all 0.7s ease;
		}

		& svg {
			@extend %menu-icon-btn-style;
		}

		& span {
			@extend %link-button-style;
		}
	}
}

.menu__grid-container {
	display: none;
}

.menu__grid {
	display: grid;
	gap: 40px;
	grid-template-columns: 1fr 1fr 1fr 1fr
}

.menu__item {
	width: 310px;
	height: 506px;
	border: 1px solid $border-lightColor;
	border-radius: 40px;
	cursor: pointer;
}

.item__img-wrapper {
	width: 310px;
	height: 310px;
	border-radius: 40px;
	overflow: hidden;
}

.item__img {
	width: 310px;
	height: 310px;
	transition: all 0.7s ease;
	transform: scale(1.1);
}

.item__content {
	position: relative;
	height: 196px;
	padding: 20px;
}

.item__title {
	@extend %heading-3;
	color: $text-darkColor;
}

.item__text {
	@extend %body-textMedium;
	color: $text-darkColor;
	margin: 12px 0;
}

.item__price {
	position: absolute;
	padding-bottom: 20px;
	bottom: 0;
	@extend %heading-3;
	color: $text-darkColor;
}

.menu__btn {
	display: none;
	cursor: pointer;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	border: 1px solid $border-darkColor;
	border-radius: 100px;
	padding: 18px;
	margin: 40px auto 0;
}

.activeMenu {
	display: block;
}


.modal__menu {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	width: 800px;
	padding: 16px;
	border-radius: 40px;
	background-color: $text-lightColor;

	& .menu__wrapper {
		display: flex;
		gap: 20px;
	}

	& .menu__img {
		border-radius: 40px;
		width: 310px;
		height: 310px;
	}

	& .menu__title {
		@extend %heading-3;
		color: $text-darkColor;
		margin-bottom: 12px;
	}

	& .menu__text {
		@extend %body-textMedium;
		color: $text-darkColor;
		margin-bottom: 6px;
	}

	& .menu__btns {
		display: flex;
		flex-wrap: wrap;
		gap: 6px;
	}

	& .size__additives__btn {
		@extend %menu-btn-style;
		transition: all 0.7s ease;
	}

	& .size__additives__container-letter {
		@extend %menu-contain-btn-style;
		transition: all 0.7s ease;
	}

	& .size__additives__letter {
		@extend %menu-icon-btn-style;
		@extend %link-button-style;
		color: $text-darkColor;
	}

	& .size__additives__num {
		@extend %link-button-style;
		color: $text-darkColor;
		transition: all 0.7s ease;
	}

	& .menu__price {
		display: flex;
		justify-content: space-between;
		margin: 20px 0;
	}

	& .price__text {
		@extend %heading-3;
		color: $text-darkColor;
	}

	& .menu__additional-info {
		display: flex;
		gap: 8px;
		padding-top: 12px;
		margin-bottom: 30px;
		border-top: 1px solid $border-lightColor;
	}

	& .additional-info__img {
		width: 16px;
		height: 16px;
	}

	& .additional-info__text {
		@extend %body-textCaption;
		color: $text-darkColor;
	}

	& .menu__close-btn {
		@extend %link-button-style;
		display: block;
		width: 100%;
		border: 1px solid $border-darkColor;
		border-radius: 100px;
		padding: 10px 78px;
		background: none;
		transition: 0.7s ease;
	}
}

button:disabled {
	cursor: default;
	background: $border-darkColor;
	color: $text-lightColor;

	& .info__wrapper-svg {
		background-color: $text-lightColor;
	}

	.modal__menu & {
		background: $border-darkColor;

		& .size__additives__container-letter {
			background-color: $text-lightColor;
		}

		& .size__additives__num {
			color: $text-lightColor;
		}
	}
}

.displayBlock {
	display: block;
}

.activeModalBtn {
	.modal__menu & {
		background: $border-darkColor;

		& .size__additives__container-letter {
			background-color: $text-lightColor;
		}

		& .size__additives__num {
			color: $text-lightColor;
		}
	}
}