.header__btn-menu {
	cursor: default;

	&::after {
		opacity: 1;
		width: 100%;
	}
}

.menu__info {
	margin-bottom: 40px;
}

.info {
	&__title {
		@extend %heading-2;
		max-width: 800px;
		text-align: center;
		margin: 0 auto 40px;
		color: $text-darkColor;

		& i {
			color: $text-accentColor;
		}
	}

	&__block-btn {
		display: flex;
		justify-content: center;
	}

	&__type-btn {
		display: flex;
		align-items: center;
		background: none;
		border: 1px solid $border-lightColor;
		padding: 8px 16px 8px 8px;
		border-radius: 100px;
		margin-right: 16px;
		transition: all 0.7s ease;
		&:last-child {
			margin-right: 0;
		}

		.info__wrapper-svg {
			position: relative;
			width: 30px;
			height: 30px;
			margin-right: 8px;
			background: $border-lightColor;
			border-radius: 100px;
			transition: all 0.7s ease;
		}

		& svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		& span {
			@extend %link-button-style;
		}
	}
}

button:disabled {
	cursor: default;
	background: $border-darkColor;
	color: $text-lightColor;

	& .info__wrapper-svg {
		background-color: $text-lightColor;
	}
}


.menu__grid {
	display: grid;
	gap: 40px;
	grid-template-columns: 1fr 1fr 1fr 1fr
}

.menu__item {
	width: 310px;
	height: 506px;
	border: 1px solid $border-lightColor;
	border-radius: 40px;
	cursor: pointer;
}

.item__img-wrapper {
	width: 310px;
	height: 310px;
	border-radius: 40px;
	overflow: hidden;
}


.linkImg1 {
	background: url('../src/img/menu/coffee/coffee-1.jpg') center/cover no-repeat;
}
.linkImg2{
	background: url('../src/img/menu/coffee/coffee-2.jpg') center/cover no-repeat;
}
.linkImg3{
	background: url('../src/img/menu/coffee/coffee-3.jpg') center/cover no-repeat;
}
.linkImg4{
	background: url('../src/img/menu/coffee/coffee-4.jpg') center/cover no-repeat;
}
.linkImg5{
	background: url('../src/img/menu/coffee/coffee-5.jpg') center/cover no-repeat;
}
.linkImg6{
	background: url('../src/img/menu/coffee/coffee-6.jpg') center/cover no-repeat;
}
.linkImg7{
	background: url('../src/img/menu/coffee/coffee-7.jpg') center/cover no-repeat;
}
.linkImg8{
	background: url('../src/img/menu/coffee/coffee-8.jpg') center/cover no-repeat;
}

.item__img {
	width: 310px;
	height: 310px;
	transition: all 0.7s ease;
	transform: scale(1.1);
}

.item__content {
	position: relative;
	height: 196px;
	padding: 20px;
}

.item__title {
	@extend %heading-3;
	color: $text-darkColor;
}

.item__text {
	@extend %body-textMedium;
	color: $text-darkColor;
	margin: 12px 0;
}

.item__price {
	position: absolute;
	padding-bottom: 20px;
	bottom: 0;
	@extend %heading-3;
	color: $text-darkColor;
}

.menu__btn {
	display: none;
	cursor: pointer;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	border: 1px solid $border-darkColor;
	border-radius: 100px;
	padding: 18px;
	margin: 40px auto 0;
}
