.enjoy__title {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

.info__title, .social__title, .mobileApp__title, .about__title, .favCoffee__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.item__price, .item__title, .contacts__title, .carousel__item__price, .carousel__item__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.item__text, .mobileApp__text, .carousel__item__text, .enjoy__p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.link__text span {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.info__type-btn span, .link__text, .enjoy__link, .header__btn-container, .nav__item {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: #E1D4C9;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

a, a:visited {
  text-decoration: none;
}

p {
  width: auto;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

@media screen and (max-width: 700px) {
  .wrapper {
    padding: 0 16px;
  }
}
.margin-section {
  margin-top: 100px;
}

.header {
  padding: 20px 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger__container {
  display: none;
}

.nav__list {
  display: flex;
}
.nav__item {
  position: relative;
  margin-right: 40px;
  cursor: pointer;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  margin-top: 3px;
  left: 50%;
  background-color: #403F3D;
  transform: translateX(-50%);
  transition: all 0.7s ease;
  opacity: 0;
}
.nav__item:hover::after {
  width: 100%;
  opacity: 1;
}
.nav__link {
  color: #403F3D;
}

.header__btn-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #403F3D;
}
.header__btn-container:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  margin-top: 32px;
  left: 50%;
  background-color: #403F3D;
  transform: translateX(-50%);
  transition: all 0.7s ease;
  opacity: 0;
}
.header__btn-container:hover::after {
  width: 100%;
  opacity: 1;
}

.btn__coffee {
  position: relative;
  margin-left: 8px;
  top: -2px;
}

.enjoy__background {
  position: relative;
  max-width: 100%;
  height: 644px;
  border-radius: 40px;
  background: url("../../../src/img/enjoy/bgHero.jpg") center/cover no-repeat;
}
.enjoy__info {
  position: absolute;
  width: 530px;
  top: 100px;
  left: 100px;
}
.enjoy__title {
  color: #E1D4C9;
}
.enjoy__title i {
  color: #B0907A;
}
.enjoy__p {
  margin: 40px 0px;
  color: #E1D4C9;
}
.enjoy__link {
  display: inline-block;
  width: 200px;
  padding: 20px 78px;
  border-radius: 100px;
  color: #403F3D;
  background-color: #E1D4C9;
}
.enjoy__link:hover .enjoy__link__text::after {
  opacity: 1;
  left: 125%;
}
.enjoy__link:hover .enjoy__link__text {
  transform: translateX(-25%);
}
.enjoy__link__text {
  position: relative;
  transition: 0.5s;
}
.enjoy__link__text::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../../../src/img/enjoy/coffee-cup.svg") no-repeat;
  transition: 0.5s;
}

.favCoffee__title {
  text-align: center;
  color: #403F3D;
  margin-bottom: 40px;
}
.favCoffee__title i {
  color: #B0907A;
}
.favCoffee__carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
}
.favCoffee__btn {
  background: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  transition: all 0.7s ease;
  border-radius: 100px;
}
.favCoffee__btn:hover {
  background-color: #665F55;
}
.favCoffee__btn svg path {
  transition: all 0.7s ease;
}
.favCoffee__btn:hover path {
  stroke: #E1D4C9;
}
.favCoffee__pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.favCoffee__pagination-rectangle {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  margin-right: 12px;
  border-radius: 100px;
  background-color: #C1B6AD;
}
.favCoffee__pagination-rectangle:last-child {
  margin-right: 0;
}

#rectangle1 {
  background-color: #665F55;
}

#arrowRight {
  rotate: 180deg;
}

.carousel__container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel__item {
  display: none;
  position: relative;
  margin: 0 auto;
}
.carousel__item.active, .carousel__item.next {
  display: block;
}
.carousel__item.next {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel__item__title {
  margin-top: 20px;
  color: #403F3D;
}
.carousel__item__text {
  max-width: 480px;
  margin: 15px auto;
  white-space: normal;
}
.carousel__item__price {
  color: #403F3D;
}

.about__title {
  margin-bottom: 40px;
}
.about__title i {
  color: #B0907A;
}

.about__grid {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.grid__item-wrapper {
  max-width: 660px;
  height: 430px;
  border-radius: 20px;
  overflow: hidden;
}
.grid__item-wrapper:first-child {
  height: 590px;
}
.grid__item-wrapper:last-child {
  height: 590px;
  margin-top: -160px;
}

.grid__item-wrapper .grid__item {
  transition: 0.5s;
  transform: scale(1.1);
}
.grid__item-wrapper .grid__item:hover {
  transform: scale(1);
}

.grid__item-wrapper:first-child .grid__item,
.grid__item-wrapper:last-child .grid__item {
  max-width: 660px;
  height: 590px;
}

.grid__item-wrapper:nth-child(2) .grid__item,
.grid__item-wrapper:nth-child(3) .grid__item {
  max-width: 660px;
  height: 430px;
}

.grid__item-wrapper:first-child .grid__item {
  background: url("../../../src/img/about/about1.png") center/cover no-repeat;
}

.grid__item-wrapper:nth-child(2) .grid__item {
  background: url("../../../src/img/about/about2.png") center/cover no-repeat;
}

.grid__item-wrapper:nth-child(3) .grid__item {
  background: url("../../../src/img/about/about3.png") center/cover no-repeat;
}

.grid__item-wrapper:last-child .grid__item {
  background: url("../../../src/img/about/about4.png") center/cover no-repeat;
}

.mobileApp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobileApp__info {
  width: 630px;
}
.mobileApp__title {
  color: #403F3D;
}
.mobileApp__title i {
  color: #B0907A;
}
.mobileApp__text {
  color: #403F3D;
  margin: 40px 0;
}
.mobileApp__link {
  display: inline-block;
  width: 200px;
  border: 1px solid #665F55;
  border-radius: 100px;
  margin-right: 20px;
}
.mobileApp__link:last-child {
  margin-right: 0;
}

.link__wrapper {
  display: flex;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  gap: 8px;
  align-items: center;
  padding: 9px 19px;
  color: #403F3D;
  transition: all 0.7s ease;
}
.link__wrapper:hover svg path {
  fill: #E1D4C9;
}
.link__wrapper:hover {
  color: #E1D4C9;
  background-color: #665F55;
}

.link__icon svg path {
  transition: all 0.7s ease;
}

.link__text {
  margin-top: -5px;
}
.footer {
  display: flex;
  align-items: center;
  gap: 100px;
  background-color: #665F55;
  border-radius: 40px;
  padding: 100px;
  margin-bottom: 40px;
}

.footer__social {
  max-width: 530px;
}

.social__title {
  margin-bottom: 40px;
  color: #B0907A;
}
.social__title span {
  color: #E1D4C9;
}

.social__icon {
  display: inline-block;
  border: 1px solid #C1B6AD;
  cursor: pointer;
  padding: 18px;
  border-radius: 100px;
  margin-right: 5px;
  transition: all 0.5s ease;
}
.social__icon:last-child {
  margin-right: 0;
}
.social__icon:hover {
  background-color: #E1D4C9;
}
.social__icon svg path {
  transition: all 0.5s ease;
}
.social__icon:hover svg path {
  stroke: #000;
}

.footer__contacts {
  margin-top: -12px;
}

.contacts__title {
  margin-bottom: 40px;
  color: #E1D4C9;
}

.contacts__info {
  display: block;
  position: relative;
  width: 69%;
  color: #E1D4C9;
}
.contacts__info:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  margin-top: 3px;
  left: 50%;
  background-color: #E1D4C9;
  transform: translateX(-50%);
  transition: all 0.7s ease;
  opacity: 0;
}
.contacts__info:hover::after {
  width: 100%;
  opacity: 1;
}
.contacts__info svg {
  margin-right: 5px;
}
.contacts__info:nth-child(3) {
  margin: 20px 0;
}
.contacts__info:last-child {
  width: 100%;
  margin-bottom: 0;
}
.contacts__info:last-child:hover:after {
  width: 0;
}

.header__btn-menu {
  cursor: default;
}
.header__btn-menu::after {
  opacity: 1;
  width: 100%;
}

.menu__info {
  margin-bottom: 40px;
}

.info__title {
  max-width: 800px;
  text-align: center;
  margin: 0 auto 40px;
  color: #403F3D;
}
.info__title i {
  color: #B0907A;
}
.info__block-btn {
  display: flex;
  justify-content: center;
}
.info__type-btn {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid #C1B6AD;
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  margin-right: 16px;
  transition: all 0.7s ease;
}
.info__type-btn:last-child {
  margin-right: 0;
}
.info__type-btn:hover {
  background: #665F55;
  color: #E1D4C9;
}
.info__type-btn .info__wrapper-svg {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  background: #C1B6AD;
  border-radius: 100px;
}
.info__type-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button:disabled {
  cursor: default;
  background: #665F55;
  color: #E1D4C9;
}

.menu__grid {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu__item {
  width: 310px;
  height: 506px;
  border: 1px solid #C1B6AD;
  border-radius: 40px;
  cursor: pointer;
}
.menu__item:hover .item__img {
  transform: scale(1);
}

.item__img-wrapper {
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}

.linkImg1 {
  background: url("../../../src/img/menu/coffee/coffee-1.jpg") center/cover no-repeat;
}

.linkImg2 {
  background: url("../../../src/img/menu/coffee/coffee-2.jpg") center/cover no-repeat;
}

.linkImg3 {
  background: url("../../../src/img/menu/coffee/coffee-3.jpg") center/cover no-repeat;
}

.linkImg4 {
  background: url("../../../src/img/menu/coffee/coffee-4.jpg") center/cover no-repeat;
}

.linkImg5 {
  background: url("../../../src/img/menu/coffee/coffee-5.jpg") center/cover no-repeat;
}

.linkImg6 {
  background: url("../../../src/img/menu/coffee/coffee-6.jpg") center/cover no-repeat;
}

.linkImg7 {
  background: url("../../../src/img/menu/coffee/coffee-7.jpg") center/cover no-repeat;
}

.linkImg8 {
  background: url("../../../src/img/menu/coffee/coffee-8.jpg") center/cover no-repeat;
}

.item__img {
  width: 310px;
  height: 310px;
  transition: all 0.7s ease;
  transform: scale(1.1);
}

.item__content {
  position: relative;
  height: 196px;
  padding: 20px;
}

.item__title {
  color: #403F3D;
}

.item__text {
  color: #403F3D;
  margin: 12px 0;
}

.item__price {
  position: absolute;
  padding-bottom: 20px;
  bottom: 0;
  color: #403F3D;
}

@media screen and (max-width: 1006px) {
  .nav__item {
    margin-right: 20px;
  }
  .mobileApp {
    display: block;
  }
  .mobileApp__info {
    width: 100%;
  }
  .mobileApp__img {
    max-width: 100%;
    text-align: center;
    margin-top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .header__btn-container {
    display: none;
  }
  .header__burger__container {
    display: block;
    width: 44px;
    height: 44px;
    border: 1px solid #665F55;
    border-radius: 100px;
  }
  .header__burger-icon {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 8px;
    z-index: 50;
  }
  .header__burger-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5px;
    border-radius: 1px;
    width: 100%;
    background-color: #403F3D;
    transition: all 0.2s ease 0.1s;
  }
  .header__burger-icon::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6%;
    height: 1.5px;
    border-radius: 2px;
    width: 100%;
    background-color: #403F3D;
    transition: all 0.2s ease 0.1s;
  }
  .nav {
    display: none;
  }
  .enjoy__info {
    left: 60px;
  }
  .enjoy__link__text {
    transform: translateX(-25%);
  }
  .enjoy__link__text::after {
    opacity: 1;
    left: 115%;
  }
  .about__grid {
    grid-template-columns: 1fr;
  }
  .grid__item-wrapper {
    max-width: 688px;
  }
  .grid__item-wrapper:nth-child(2), .grid__item-wrapper:nth-child(3) {
    display: none;
  }
  .grid__item-wrapper:last-child {
    grid-row-start: 2;
    margin-top: 0;
  }
  .grid__item-wrapper:first-child .grid__item,
  .grid__item-wrapper:nth-child(2) .grid__item,
  .grid__item-wrapper:nth-child(3) .grid__item,
  .grid__item-wrapper:last-child .grid__item {
    max-width: 688px;
    transform: scale(1.05);
  }
}
@media screen and (max-width: 700px) {
  .enjoy__title {
    font-size: 52px;
  }
  .enjoy__info {
    width: 400px;
  }
  .favCoffee__btn {
    display: none;
  }
  .about__title {
    font-size: 45px;
  }
  .mobileApp__title {
    font-size: 45px;
  }
  .mobileApp__img {
    margin-top: 37px;
  }
  .mobileApp__img img {
    width: 500px;
  }
}
@media screen and (max-width: 550px) {
  .enjoy__title {
    font-size: 42px;
    line-height: 115%;
  }
  .enjoy__info {
    width: 316px;
  }
  .favCoffee__title {
    font-size: 32px;
  }
  .carousel__item__img {
    width: 348px;
  }
  .about__title {
    font-size: 32px;
  }
  .grid__item-wrapper:first-child .grid__item,
  .grid__item-wrapper:nth-child(2) .grid__item,
  .grid__item-wrapper:nth-child(3) .grid__item,
  .grid__item-wrapper:last-child .grid__item {
    transform: scale(1.2);
  }
  .mobileApp__title {
    font-size: 32px;
  }
  .mobileApp__img img {
    width: 348px;
  }
}
@media screen and (max-width: 456px) {
  .enjoy__background {
    height: 550px;
  }
  .enjoy__info {
    top: 62px;
    left: 15px;
  }
  .enjoy__p {
    margin: 39px 0px;
  }
  .mobileApp__link {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .mobileApp__link:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 365px) {
  .enjoy__title {
    font-size: 22px;
  }
  .enjoy__info {
    width: 200px;
    top: 62px;
    left: 15px;
  }
  .carousel__item__img {
    max-width: 200px;
  }
  .grid__item-wrapper:first-child,
  .grid__item-wrapper:last-child {
    height: 390px;
  }
  .mobileApp__img img {
    width: 200px;
  }
}